/* #region form*/
.form-login {
  padding: 20px 20px 20px 20px;
  margin: 20px 30% 20px 440px;
  width: 400px;
  height: 400px;
}

.form-level {
  padding: 3px 4px 3px 10px;
  margin: 2px 4px 2px 390px;
  width: 600px;
  height: 680px;
}

.form_quiz {
  padding: 10px 20px 0px 20px;
  margin: 10px 10px 0px 300px;
  width: 700px;
  height: 600px;
}

.form_quiz_avanzado {
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 10px 300px;
  width: 700px;
  height: 1100px;
}

.form-result {
  padding: 0px 30px 30px 30px;
  margin: 10px 30px 20px 320px;
  width: 700px;
  height: 600px;
}

.form-record {
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 300px;
  width: 700px;
  height: 550px;
}

/* #endregion form*/
