<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- cargs estilos a la pagina -->
        <!--<link rel="stylesheet" href="../static/css/index.css" />
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />-->
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/index.css') }}" />
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/responsive.css') }}" />
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <!-- titulo de la pagina -->
        <title>{{title}}</title>
        <!-- se carga el icono a la pagina -->
        <link rel="icon" sizes="16x16 32x32 48x48" type="image/png"
            href="../static/image/favicon.png" />
    </head>

    <body class="background-image">
        <header class="header-level">
            <nav></nav>
        </header>
        <main class="main-level">
            <form action="{{ url_for('level_quiz') }}" method="post"
                class="formulario form-level">
                <div class="container mt-3">
                    {% with messages =
                    get_flashed_messages(with_categories=true) %} {% if messages
                    %} {% for category,
                    message in messages %}
                    <div
                        class="alert alert-{{ category }} alert-dismissible fade show"
                        role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                </div>
                <div class="button-container">
                    <!-- <button
                        id="select-again"
                        name="select-again"
                        type="button"
                        class
                        data-dismiss="alert"
                        aria-label="Close">
                        Seleccionar de nuevo
                    </button> -->
                </div>
                <section class="title-container-left-row">
                    <div class="title-container-left">
                        <h2 class="user">Usuario: {{ name }}</h2>
                        {% if size >0 %}
                        <a href="{{ url_for('record') }}">Consulta tus test
                            realizados</a>
                        {% else %} {% endif %}
                    </div>
                    <div>
                        <img
                            id="img-info-nivel"
                            src="{{ url_for('static', filename='image/inicial.png') }}"
                            alt="Icono Iniciar"
                            class="image-info" />
                    </div>
                </section>
                <div class="form-container">
                    <label for><strong>Selecciona el nivel para poder
                            continuar</strong></label>
                    <p id="selected-item">Seleccione el nivel :</p>
                </div>
                <div class="sidebar">
                    <ul>
                        {% for level in levels %}
                        <li
                            onclick="updateSelectedItem('{{ level }}')"><a>{{level}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="button-container-right">
                    <!--<a href="{{ url_for('start') }}">Salir</a>
                <input name="start_quiz" id="start_quiz" type="submit" value="Iniciar" />-->
                    <a href="{{ url_for('start') }}">Salir
                        <img
                            src="{{ url_for('static', filename='image/exit-w.png') }}"
                            alt="Icono Salir"
                            class="icono" />
                    </a>

                    <a
                        id="select-again"
                        name="select-again"
                        type="button"
                        class
                        data-dismiss="alert"
                        aria-label="Close">
                        Seleccionar de Nuevo<img
                        src="{{ url_for('static', filename='image/select-w.png') }}"
                        alt="Icono Iniciar"
                        class="icono" />
                    </a>

                    <button id="start_quiz" name="start_quiz" type="submit">
                        Iniciar
                        <img
                            src="{{ url_for('static', filename='image/play-arrow-w.png') }}"
                            alt="Icono Iniciar"
                            class="icono" />
                    </button>
                </div>
            </form>
        </main>

        <!--carga los escript javascript a ala pagina-->
        <!--<script src="../static/js/index.js"></script>
        <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>-->
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script
            src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
        <script
            src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script
            src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
        <script
            src="{{ url_for('static', filename='js/responsive.js') }}"></script>
    </body>
</html>
